<ng-container *ngIf="currentWeekData$ | async; let currentWeekData">

  <p-dataView layout="grid" [value]="currentWeekData.plants">

    <ng-template pTemplate="header">
      <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
    </ng-template>

    <ng-template let-plant pTemplate="listItem">
      <div class="p-col-12 p-p-2">
        <p-card [header]="plant.name" styleClass="p-card-shadow">

          <div class="p-d-flex p-ai-center p-jc-between">
            <div>
              Concentrazione {{plant.concentrationType}}
            </div>
            <div>
              {{plant.concentrationValue}}
            </div>
          </div>
          <div [attr.class]="'p-mt-2 concentration concentration-' + plant.concentrationType"></div>
        </p-card>
      </div>
    </ng-template>

    <ng-template let-plant pTemplate="gridItem">
      <div class="p-col-12 p-md-4 p-p-2">
        <p-card [header]="plant.name" styleClass="p-card-shadow">

          <div class="p-d-flex p-ai-center p-jc-between">
            <div>
              Concentrazione {{plant.concentrationType}}
            </div>
            <div>
              {{plant.concentrationValue}}
            </div>
          </div>
          <div [attr.class]="'p-mt-2 concentration concentration-' + plant.concentrationType"></div>
        </p-card>
      </div>
    </ng-template>

  </p-dataView>

</ng-container>
