.page {
}

.concentration {
  width: 100%;
  height: 6px;
  // border-radius: 92px;
}

.concentration-NULLA {
  background: var(--bluegray-100);
}

.concentration-BASSA {
  background: var(--green-300);
}

.concentration-MEDIA {
  background: var(--yellow-400);
}

.concentration-ALTA {
  background: var(--pink-600);
}
