/* You can add global styles to this file, and also import other style files */

$sm: 640px;
$md: 720px;
$lg: 960px;
$xl: 1080px;

// Primeng
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeicons/primeicons.css';

// Primeflex
@import 'node_modules/primeflex/src/_variables.scss';
@import 'node_modules/primeflex/src/_grid.scss';
@import 'node_modules/primeflex/src/_formlayout.scss';
@import 'node_modules/primeflex/src/_display.scss';
@import 'node_modules/primeflex/src/_text.scss';
@import 'node_modules/primeflex/src/flexbox/_flexbox.scss';
@import 'node_modules/primeflex/src/_spacing.scss';
@import 'node_modules/primeflex/src/_elevation.scss';
