<div class="p-grid">

  <div class="p-col-12">

    <p-toolbar>

      <div class="p-toolbar-group-left">
        <button pButton type="button" label="Storico" class="p-button-link"></button>
      </div>

    </p-toolbar>


  </div>

  <div class="p-col-12">
    <router-outlet></router-outlet>
  </div>

</div>
